* {
  outline: 0px solid cyan;
}

body {
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Roboto Slab';
  line-height: 1.5;
}

body a, body h1, body h2, body h3, body i, body p {
  color: #1c3764;
}

body header {
  margin-top: 25px;
  margin-bottom: 10px;
}

body header .row .epigrafe a {
  font-size: 2.5em;
  font-style: italic;
  line-height: 62px;
  margin-left: 30px;
  -webkit-transition: color 400ms ease-in-out;
  transition: color 400ms ease-in-out;
}

body header .row .epigrafe a:hover, body header .row .epigrafe a:focus {
  color: #d99fc7;
}

body header .row .titulos {
  position: relative;
  height: 80px;
}

@media screen and (max-width: 767px) {
  body header .row .titulos {
    display: none;
  }
}

body header .row .titulos h1 {
  display: none;
  position: absolute;
  line-height: 80px;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media (max-width: 767px) {
  body header .row li {
    float: right;
    margin-right: 25px;
  }
}

body header .row li a:hover, body header .row li a:focus {
  background-color: white;
}

body header .row li a:hover i, body header .row li a:focus i {
  color: #d99fc7;
}

body header .row li i {
  -webkit-transition: color 400ms ease-in-out;
  transition: color 400ms ease-in-out;
}

@media (min-width: 768px) {
  body header .row .iconos1 {
    display: none;
  }
}

@media (max-width: 767px) {
  body header .row .iconos2 {
    display: none;
  }
}

body main {
  margin-bottom: 0px;
}

body main .row {
  margin-bottom: 15px;
}

body main .row .titulos {
  position: relative;
  height: 60px;
}

body main .row .titulos h1 {
  display: none;
  position: absolute;
  line-height: 60px;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

body main .row .bg-full {
  width: 500px;
  height: 500px;
  background: url("img/sprite-full.png") no-repeat;
  display: inline-block;
  position: relative;
  z-index: 0;
}

@media (max-width: 768px) {
  body main .row .bg-full {
    display: none;
  }
}

body main .row .bg-full .bg-1, body main .row .bg-full .bg-2, body main .row .bg-full .bg-3 {
  position: relative;
  float: left;
  z-index: 100;
  width: 33.33%;
  height: 100%;
  cursor: pointer;
}

body main .row.mobile .logo {
  width: 350px;
  height: 350px;
  margin: 0px;
  background: url(img/sprite.png) no-repeat;
  position: relative;
  display: inline-block;
}

body main .row.mobile .logo span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(img/sprite.png) no-repeat;
  background-position: -350px 0px;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}

body main .row.mobile .logo span:hover, body main .row.mobile .logo span:focus, body main .row.mobile .logo span:active {
  opacity: 1;
}

body main .row.mobile h2 {
  text-decoration: underline;
}

body main .row.mobile h2 a {
  -webkit-transition: color 400ms;
  transition: color 400ms;
}

body main .row.mobile h2 a:hover, body main .row.mobile h2 a:focus, body main .row.mobile h2 a:active {
  color: #d99fc7;
  text-decoration: none;
}

@media (min-width: 768px) {
  body main .row.mobile {
    display: none;
  }
}

body main .row.texto h2 {
  margin-bottom: 15px;
  text-decoration: underline;
}

body main .row.texto .iden p {
  line-height: 1.5;
  text-align: justify;
}

body main .row.texto .def p {
  font-size: 14px;
  text-align: right;
  margin-top: 0px;
  margin-bottom: 0px;
}

body main .row.texto .def p:nth-child(odd) {
  font-style: italic;
  color: #d99fc7;
}

body main .row.texto .def p:first-child {
  margin-top: 25px;
  font-size: 16px;
  color: #1c3764;
}

body main .row.texto .prem span {
  text-decoration: underline;
}

body main .row.texto .prem a {
  -webkit-transition: color 400ms;
  transition: color 400ms;
  cursor: pointer;
  font-weight: 600;
}

body main .row.texto .prem a:hover, body main .row.texto .prem a:focus {
  color: #d99fc7;
  text-decoration: none;
}

body main .row.texto .convocatoria {
  margin-top: 40px;
  margin-bottom: 25px;
}

body main .row.texto .convocatoria h2 {
  text-decoration: none;
  text-align: center;
}

body main .row.texto .convocatoria h2 a {
  -webkit-transition: color 400ms;
  transition: color 400ms;
}

body main .row.texto .convocatoria h2 a:hover, body main .row.texto .convocatoria h2 a:focus {
  color: #d99fc7;
}

body main .row.imagen {
  margin-top: 30px;
  margin-bottom: 40px;
}

body main .row.imagen h2 {
  margin-top: 50px;
  text-transform: uppercase;
}

body main .row.imagen h2 a {
  color: white;
  -webkit-transition: color 400ms;
  transition: color 400ms;
}

body main .row.imagen h2 a:hover, body main .row.imagen h2 a:focus {
  color: #d99fc7;
}

body main .row.imagen .thumbnail {
  border: none;
}

body main .row.sede {
  margin-top: 30px;
  margin-bottom: 0px;
}

body main .row.sede .thumbnail {
  border: none;
}

body footer {
  margin-top: 30px;
  margin-bottom: 15px;
}

body footer .row {
  margin-top: 0px;
}

body footer .row .pie h2 {
  text-align: center;
}

body footer .row .pie p {
  text-align: center;
  font-size: 24px;
}

body.home main {
  margin-bottom: 0px;
}

body.home footer {
  margin-top: 0px;
  margin-top: 0px;
}

main.dulce {
  margin-top: 30px;
  height: 600px;
  background: url(img/dulce.jpg) top no-repeat;
  background-size: cover;
}

.calendar {
  text-align: center;
}

.calendar header {
  position: relative;
}

.calendar header h2 {
  text-transform: uppercase;
}

.calendar table {
  margin: auto;
}

.calendar table thead {
  font-weight: 600;
  color: #1c3764;
  text-transform: uppercase;
}

.calendar table tbody {
  color: #7c8a95;
}

.calendar table td {
  border: 2px solid transparent;
  border-radius: 50%;
  display: inline-block;
  height: 4em;
  line-height: 4em;
  text-align: center;
  width: 4em;
  -webkit-transition: border 300ms ease-in-out;
  transition: border 300ms ease-in-out;
}

@media (max-width: 767px) {
  .calendar table td {
    height: 2.5em;
    line-height: 2.5em;
    width: 2.5em;
  }
}

.calendar .prev-month, .calendar .next-month {
  color: #cbd1d2;
}

.calendar .prev-month:hover, .calendar .next-month:hover {
  border: 2px solid #cbd1d2;
}

.calendar .current-day {
  background: #1c3764;
  color: #f9f9f9;
}

.calendar .event {
  cursor: pointer;
  position: relative;
}

.calendar .event:hover {
  border: 2px solid #1c3764;
}

.calendar .event:after {
  background: #1c3764;
  border-radius: 50%;
  bottom: .5em;
  display: block;
  content: '';
  height: .5em;
  left: 50%;
  margin: -.25em 0 0 -.25em;
  position: absolute;
  width: .5em;
}

@media (max-width: 767px) {
  .calendar .event:after {
    bottom: .25em;
    display: block;
    content: '';
    height: .25em;
    left: 50%;
    margin: -.125em 0 0 -.125em;
    position: absolute;
    width: .25em;
  }
}

.calendar .event a {
  text-decoration: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.calendar .event.current-day:after {
  background: #f9f9f9;
}

.calendar .event.libros:hover {
  border: 2px solid #8A2BE2;
}

.calendar .event.libros:after {
  background: #8A2BE2;
}

.calendar .event.libros a {
  color: #8A2BE2;
}

.calendar .event.bingo:hover {
  border: 2px solid #DC143C;
}

.calendar .event.bingo:after {
  background: #DC143C;
}

.calendar .event.bingo a {
  color: #DC143C;
}

.calendar .event.banquete:hover {
  border: 2px solid #FF7F50;
}

.calendar .event.banquete:after {
  background: #FF7F50;
}

.calendar .event.banquete a {
  color: #FF7F50;
}

.calendar .event.escritura:hover {
  border: 2px solid #228B22;
}

.calendar .event.escritura:after {
  background: #228B22;
}

.calendar .event.escritura a {
  color: #228B22;
}

.calendar .event.dinamicas:hover {
  border: 2px solid #008080;
}

.calendar .event.dinamicas:after {
  background: #008080;
}

.calendar .event.dinamicas a {
  color: #008080;
}

.calendar .event.pimpollo:hover {
  border: 2px solid #7B68EE;
}

.calendar .event.pimpollo:after {
  background: #7B68EE;
}

.calendar .event.pimpollo a {
  color: #7B68EE;
}

.calendar .event.losmuertos:hover {
  border: 2px solid #1E90FF;
}

.calendar .event.losmuertos:after {
  background: #1E90FF;
}

.calendar .event.losmuertos a {
  color: #1E90FF;
}

.calendar .event.los90s:hover {
  border: 2px solid #20B2AA;
}

.calendar .event.los90s:after {
  background: #20B2AA;
}

.calendar .event.los90s a {
  color: #20B2AA;
}

.calendar .event.mundocero:hover {
  border: 2px solid #48D1CC;
}

.calendar .event.mundocero:after {
  background: #48D1CC;
}

.calendar .event.mundocero a {
  color: #48D1CC;
}

.calendar .event.hechizos:hover {
  border: 2px solid #3CB371;
}

.calendar .event.hechizos:after {
  background: #3CB371;
}

.calendar .event.hechizos a {
  color: #3CB371;
}
